.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.modalWrapper, .modalWrapper2, .modalWrapper3, .modalWrapper4{
	overflow: auto;
	width: 80%;
	height: 688px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.jsModalClose {
	width: 100%;
	display: flex;
	justify-content: end;
	margin-right: 60px;
}

.jsModalClose, .jsModalClose2, .jsModalClose3, .jsModalClose4 {
	border: none;
	background-color: white;
	margin-top: 30px;
	margin-bottom: 30px;
}

.jsModalClose2 {
	margin-right: 0;
}

.buttonModalNextProject, .buttonModalNextProject2, .buttonModalNextProject3 {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 40px;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	background-color: #0065FC;
	width: 180px;
	border-radius: 60px ;
	border: none;
	margin-bottom: 20px;
}

.pictureAndInfoProject {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.picturePrincipalModal, .pictureSecondaireModal {
	margin-left: 20px;
	width: 47%;
	margin-bottom: 30px;
	border-radius: 20px;
    box-shadow: 3px 5px 15px 0 rgba(155, 161, 173, 0.2), -3px 3px 3px 3px rgba(230, 234, 238, 0.2);
}

.infoProjectBooki {
	margin-left: 30px;
	width: 45%;
}


.titleModal {
	font-size: 26px;
	text-align: center;
	margin-bottom: 50px;
	color: black;
}

.visitSite {
	display: flex;
	justify-content: center;
	font-size: 18px;
	padding: 5px;
	color: white;
	background-color: #0065FC;
	width: 180px;
	border-radius: 60px;
	border: none;	
}


/**************************************MODAL2********************************************/

.returnModal2, .returnModal3, .returnModal4 {
	border: none;
	background-color: white;
}

.towButton {
	display: flex;
	justify-content: space-between;
	width: 90%;
}

.lienGitHub a{
	display: flex;
	justify-content: center;
	font-size: 18px;
	padding: 5px;
	color: white;
	background-color: #0065FC;
	width: 180px;
	border-radius: 60px;
	border: none;	
}

.lienGitHub {
	display: flex;
	justify-content: center;
}

@media all and (max-width: 375px){

	.infoProjectBooki, .picturePrincipalModal {
		width: 90%;
		margin: 0;
	}

	.pictureSecondaireModal {
		margin-left: 0;
		width: 90%;

	}
}










